/* Skeleton Loading */
.SkeletonLoading {
    border-radius: 10px;
    padding: 1em;
    animation: skeleton-loading 0.8s infinite linear alternate;
}
.SkeletonLoadingNutrition {
    padding: 3em;
    animation: skeleton-loading 0.8s infinite linear alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: rgb(209, 209, 209);
    }
    100% {
        background-color: rgb(240, 240, 240);
    }
}

.SkeletonContainer {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    width: 100%;
    padding: 0 1em 1em 1em;
}
    /* first div is large, next are smaller */
    .SkeletonContainer > div:not(:first-child) {
        width: 60%;
        padding: 0.6em;
    }
.SkeletonContainerIngredients {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    margin-top: 2em;
}
    /* first div */
    .SkeletonContainerIngredients > div:first-child {
        width: 40%;
    }
    /* first div is large, next are smaller */
    .SkeletonContainerIngredients > div:not(:first-child) {
        width: 30%;
        padding: 0.6em;
    }

.MainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 1em 4em 1em;
}
.ParentContainer {
    display: flex;
    flex-direction: column;
    width: clamp(100px, 100%, 1000px);
    padding: 3em 4em 3em 4em;
    box-shadow: 0 0.1em 0.4em var(--green-colorgr);
    border-radius: 20px;
}
.TitleContainer {
    display: flex;
    padding-bottom: 1em;
}
    .TitleContainer > img {
        max-width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 20px;
    }
    /* Name container */
    .RecipeNameContainer {
        display: flex;
        flex-direction: column;
        padding: 0 1em 1em 1em;
        overflow: hidden;
    }
        /* Recipe Name */
        .RecipeNameContainer > h1 {
            color: var(--green-colorbl);
            font-size: 1.8rem;
            font-weight: 900;
            letter-spacing: 1px;
            padding-bottom: 0.4em;
            overflow-wrap: break-word;
        }
        /* Recipe Creator */
        .RecipeNameContainer > h2 {
            color: var(--green-colorbl);
            font-size: 1rem;
            font-weight: 500;
            letter-spacing: 1px;
            padding-bottom: 0.2em;
            overflow-wrap: break-word;
        }
        /* link */
        .RecipeNameContainer > a {
            color: var(--green-colorbl);
            font-size: 1rem;
            font-weight: 300;
            letter-spacing: 1px;
            overflow-wrap: break-word;
        }
        /* Recipe Edited */
        .RecipeNameContainer > h3 {
            margin-top: auto;
            color: var(--green-colorbl);
            font-size: 0.8rem;
            font-weight: 400;
            letter-spacing: 1px;
            overflow-wrap: break-word;
        }
.RecipeNutrition {
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 1em;
    background-color: var(--green-colorgrli);
}
.RecipeNutritionItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 0.8em;
    background-color: var(--green-colorgrli);
    text-align: center;
    overflow: hidden;
}
    /* Titles */
    .RecipeNutritionItem > h1{
        color: var(--green-colorbl);
        font-size: 1rem;
        font-weight: 700;
    }
    /* Text */
    .RecipeNutritionItem > h2 {
        color: var(--green-colorbl);
        font-size: 1rem;
        font-weight: 400;
    }
.IngredientsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    padding: 2em 0 2em 0;
    width: fit-content;
    overflow: hidden;
}
    /* title */
    .IngredientsContainer > h1 {
        padding-bottom: 0.5em;
        color: var(--green-colorbl);
        font-size: 1.3rem;
        font-weight: 700;
    }
    /* items */
    .IngredientsContainer > h2 {
        padding-bottom: 0.5em;
        color: var(--green-colorbl);
        font-size: 1.1rem;
        font-weight: 300;
        border-bottom: 1px solid var(--grey-colorli);
    }
.StepsContainer {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    padding-bottom: 2em;
    overflow: hidden;
}
    /* title */
    .StepsContainer > h1 {
        padding-bottom: 1em;
        color: var(--green-colorbl);
        font-size: 1.3rem;
        font-weight: 700;
    }
.StepsItem {
    display: flex;
}
    /* steps */
    .StepsItem > h1 {
        padding-right: 4%;
        color: var(--green-color2);
        font-size: 1.5rem;
        font-weight: 900;
    }
    /* item */
    .StepsItem > h2 {
        padding-bottom: 1em;
        padding-left: 0.8em;
        border-left: 1px solid var(--green-color3);
        color: var(--green-colorbl);
        font-size: 1.1rem;
        font-weight: 300;
    }

@media print {
    .HidePrint {
        display: none;
    }
    .MainContainer {
        padding: 0;
    }
    .ParentContainer {
        padding: 2em;
        border-radius: 0;
    }
}

/* Phones */
@media (max-width: 576px) { 
    /* change the look of recipe on smaller devices */
    .ParentContainer {
        padding: 0em;
        box-shadow: 0 var(--green-colorgr);
        border-radius: 0;
    }
    /* target recipe image size */
    .TitleContainer > img {
        width: 100px;
        height: 100px;
    }
    /* Recipe Name */
    .RecipeNameContainer > h1 {
        font-size: 1.4rem;
    }
    /* nutrition */
    .RecipeNutrition {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1em;
        background-color: var(--green-colorgrli);
    }
    /* nutrition items */
    .RecipeNutritionItem {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0.5em;
        gap: 0.5em;
        background-color: var(--green-colorgrli);
    }
    /* ingredients */
    /* title */
    .IngredientsContainer > h1 {
        color: var(--green-colorbl);
        font-size: 1.2rem;
        font-weight: 700;
    }
    /* items */
    .IngredientsContainer > h2 {
        color: var(--green-colorbl);
        font-size: 1rem;
        font-weight: 400;
    }
    /* steps */
    /* title */
    .StepsContainer > h1 {
        color: var(--green-colorbl);
        font-size: 1.2rem;
        font-weight: 700;
    }
    /* steps */
    .StepsItem > h1 {
        padding-right: 4%;
        color: var(--green-color2);
        font-size: 1.2rem;
        font-weight: 900;
    }
    /* item */
    .StepsItem > h2 {
        padding-left: 0.8em;
        border-left: 2px solid var(--green-color3);
        color: var(--green-colorbl);
        font-size: 1rem;
        font-weight: 400;
    }
}