.MainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 1em;
    padding-top: 0;
}
.EditTitle {
    display: flex;
    justify-content: center;
}
    .EditTitle > h1 {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--grey-100);
    }
.RecipeMissingView {
    width: clamp(100px, 100%, 1000px);
    box-shadow: 0 0.1em 0.8em var(--grey-75);
    border-radius: 10px;
}
.RecipeView {
    width: clamp(100px, 100%, 1000px);
    margin-top: 2em;
    padding: 3em;
    padding-top: 1em;
    box-shadow: 0 0.1em 0.5em var(--grey-50);
    border-radius: 10px;
}
.SelectorContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 1em;
}
/* buttons */
.SelectButton, .ExitButton {
    display: flex;
    justify-content: center;
    padding: 0.8em;
    border: 1px solid var(--grey-25);
    border-radius: 50%;
    background: none;
    cursor: pointer;
}
    /* hover */
    .SelectButton:hover {
        background-color: var(--grey-50);
    }
    .ExitButton:hover {
        background-color: rgb(248, 147, 147);
    }
/* Inputs */
.RecipeView input {
    width: 100%;
    padding: 0.5em;
    border: 1px solid var(--grey-50);
    border-radius: 10px;
    color: var(--grey-100);
    font-size: 1rem;
}
    .RecipeView input:focus {
        outline: 1px solid var(--grey-100);
    }
    .RecipeView input::placeholder {
        font-size: 1rem;
        font-weight: 300;
        color: var(--grey-100);
    }
    .InputError {
        padding-bottom: 0.2em;
        font-size: 1rem;
        font-weight: 400;
        color: rgb(222, 100, 100);
    }
    .RecipeView textarea {
        font-family: Arial, Helvetica, sans-serif;
        height: 150px;
        width: 100%;
        padding: 0.5em;
        border: 1px solid var(--grey-50);
        border-radius: 10px;
        color: var(--grey-100);
        font-size: 1rem;
        resize: none;
    }
        .RecipeView textarea:focus {
            outline: 1px solid var(--grey-100);
        }
        .RecipeView textarea::placeholder {
            font-size: 1rem;
            font-weight: 300;
            color: var(--grey-100);
        }
.TitleContainer {
    display: flex;
    gap: 0.5em;
    width: 100%;
    padding: 1em;
}
    .TitleContainer > img {
        max-width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 20px;
    }
    /* Name container */
    .RecipeNameContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1px;
        overflow: hidden;
    }
.RecipeNutrition {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    gap: 1em;
    width: 100%;
    padding: 1em;
    background-color: var(--grey-25);
    overflow: hidden;
}
    .RecipeNutritionItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.8em;
        padding: 0.1em;
    }
        /* Titles */
        .RecipeNutritionItem > h1 {
            color: var(--colorli-5);
            font-size: 1rem;
            font-weight: 700;
        }
.IngredientsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    padding: 2em 0.5em 0 0.5em;
    width: 100%;
    overflow: hidden;
}
    /* add button */
    .IngredientsContainer > button {
        display: flex;
        width: fit-content;
        margin: auto;
        padding: 0.5em;
        border: 0;
        border-radius: 50%;
        border: 1px solid var(--grey-50);
        background: none;
        cursor: pointer;
    }
        .IngredientsContainer > button:hover {
            background-color: var(--colorli-3);
        }
    /* title */
    .IngredientsContainer > h1 {
        padding-bottom: 0.5em;
        color: var(--grey-100);
        font-size: 1.3rem;
        font-weight: 700;
    }
    .IngredientInputContainer {
        display: flex;
        gap: 2em;
        padding: 1px;
    }
        /* trash icon */
        .IngredientInputContainer > button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5em;
            border: 0;
            border-radius: 50%;
            background: none;
            cursor: pointer;
        }
            .IngredientInputContainer > button:hover {
                background-color: rgb(248, 147, 147);
            }
.SubmitContainer {
    display: flex;
    width: 100%;
    margin-top: 3em;
    padding: 1em;
}
.SubmitButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.5em;
    background-color: var(--colorli-2);
    border: 0;
    border-radius: 20px;
    font-size: 1.4rem;
    font-weight: 300;
    color: white;
    cursor: pointer;
}

/* Phones */
@media (max-width: 576px) { 
    .MainContainer {
        padding: 0;
    }
    .RecipeMissingView {
        box-shadow: none;
    }
    .RecipeView {
        padding: 0;
        margin-top: 1em;
        box-shadow: none;
    }
    /* target recipe image size */
    .TitleContainer > img {
        width: 100px;
        height: 100px;
    }
}