.MainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 1em 4em 1em;
}
.ParentContainer {
    display: flex;
    flex-direction: column;
    width: clamp(100px, 100%, 1000px);
    padding: 3em 4em 3em 4em;
    box-shadow: 0 0.1em 0.4em var(--grey-25);
    border-radius: 20px;
}
.TitleContainer {
    display: flex;
    padding-bottom: 1em;
}
    .TitleContainer > img {
        max-width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 20px;
    }

@media print {
    .HidePrint {
        display: none;
    }
        /* Hide scrollbar for Chrome, Safari and Opera */
        .HidePrint::-webkit-scrollbar {
            display: none;
        }
}

/* Phones */
@media (max-width: 576px) { 
    /* change the look of recipe on smaller devices */
    .ParentContainer {
        padding: 0em;
        box-shadow: none;
        border-radius: 0;
    }
    .SelectorContainer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1em;
        width: 100%;
        padding: 1em;
    }
}