.PopupParent {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: start center;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}
.PopupContent {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 300px;
  margin-top: 10%;
  padding: 2em;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 0 1em var(--grey-75);
  overflow: hidden;
  animation: popup 0.15s ease-out;
}
  .PopupContent > h4 {
    font-weight: 300;
  }
  .PopupContent > h5 {
    text-align: center;
    font-weight: 300;
  }
.FormParent {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: red;
}
.PopupButtonContainer {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 1em;
  padding-top: 1em;
}
  .PopupButtonContainer > button {
    font-weight: 300;
    font-size: 1rem;
    background: none;
    border: 0;
    cursor: pointer;
  }
  .PopupButtonContainer > button:last-child {
    color: var(--color-1);
  }

@keyframes popup {
  0% { max-height: 0;}
  100% { max-height: 100px; }
}