.MainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 1em 4em 1em;
}
.ParentContainer {
    width: clamp(100px, 100%, 1000px);
}
.SelectorContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    padding: 0.5em;
}
    /* buttons */
    .SelectorContainer > button {
        display: flex;
        justify-content: center;
        padding: 0.8em;
        border: 1px solid var(--grey-25);
        border-radius: 50%;
        background: none;
        cursor: pointer;
    }
        /* hover */
        .SelectorContainer > button:hover {
            background-color: rgb(248, 147, 147);
        }
    /* Preview Text */
    .SelectorContainer > h1 {
        color: var(--colorli-1);
        font-size: 1.8rem;
    }
.RowContainer {
    display: flex;
}
    .RowContainer > div {
        flex: 1;
    }
.RecipeViewParent {
    height: 450px;
    padding: 1em;
    background-color: var(--grey-25);
    overflow-y: scroll;
}
.RecipeView {
    padding: 3em;
    box-shadow: 0 0.1em 0.5em var(--grey-50);
    background-color: white;
}
.PrintOptions {
    display: flex;
    flex-direction: column;
    padding: 1em;
}
    .PrintButton {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
        margin-top: 2em;
        padding: 1em;
        border: 0;
        border-radius: 10px;
        background-color: var(--colorli-2);
        cursor: pointer;
    }
        .PrintButton > h1 {
            font-size: 1rem;
            color: white;
        }
    .LayoutButtonContainer {
        display: flex;
        justify-content: center;
        gap: 1em;
    }
        .LayoutButton {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1em;
            margin-top: 2em;
            padding: 1em;
            border: 0;
            border-radius: 10px;
            background-color: var(--grey-50);
            cursor: pointer;
        }
            .LayoutButton:hover {
                background-color: var(--grey-75);
            }
            .LayoutButton > h1 {
                font-size: 1rem;
                color: white;
            }
            .LayoutButton.ActiveButton {
                background-color: var(--colorli-2);
            }
.RowContainerMobile {
    display: none;
    flex-direction: column;
}

@media print {
    .HidePrint {
        display: none;
    }
        /* Hide scrollbar for Chrome, Safari and Opera */
        .HidePrint::-webkit-scrollbar {
            display: none;
        }
    .RecipeView {
        padding-top: 0;
        box-shadow: none;
    }
}

@media (max-width: 576px) { 
    .MainContainer {
        padding: 0;
    }
    /* Preview Text */
    .SelectorContainer > h1 {
        color: var(--colorli-1);
        font-size: 1.2rem;
    }
    .RowContainer {
        display: none
    }
    .RowContainerMobile {
        display: flex;
    }
    .RecipeView {
        padding: 0.5em;
        overflow-y: scroll;
    }
    .PrintOptions {
        box-shadow: 0 0 0.5em var(--grey-75);
    }
}
