.MainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ParentContainer {
    display: flex;
    align-items: center;
    width: clamp(100px, 100%, 1200px);
    padding: 0.4em 1em 0.4em 1em; 
    padding-bottom: 1.2em;
}
    /* Header Link */
    .ParentContainer > a {
        color: var(--green-colorbl);
        font-size: 1.8rem;
        font-weight: 900;
    }
    .ParentContainer > form {
        flex: 1;
    }
.SearchContainer {
    display: flex;
    align-items: center;
    padding-left: 1.4em;
    margin-left: 2em;
    width: clamp(100px, 100%, 450px);
    border: 2px solid var(--grey-colorli);
    border-radius: 8px;
}
    /* Reset all defaults */
    .SearchContainer > input, .SearchContainer > button {
        border: 0;
        background: none;
        outline: none;
    }
    /* text */
    .SearchContainer > input {
        width: 100%;
        font-size: 1.1rem;
        color: var(--green-colorbl);
    }
        /* text placeholder */
        .SearchContainer > input::placeholder {
            color: var(--green-colorgr);
        }
    /* btn */
    .SearchContainer > button {
        display: flex;
        padding: 1em 1.4em 1em 1em;
        cursor: pointer;
    }
       /* btn */
       .SearchContainer > button:hover, .SearchContainer > button:active {
        background-color: var(--grey-colorli);
    }