.MainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ParentContainer {
    display: flex;
    align-items: center;
    width: clamp(100px, 100%, 1200px);
    padding: 0.4em 1em 0.4em 1em; 
    overflow: hidden;
}
.SearchContainer {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding-left: 1.4em;
    margin-left: 2em;
    width: clamp(100px, 100%, 450px);
    border: 2px solid var(--grey-25);
    border-radius: 8px;
}
    /* Reset all defaults */
    .SearchContainer > input, .SearchContainer > button {
        border: 0;
        background: none;
        outline: none;
    }
    /* text */
    .SearchContainer > input {
        width: 100%;
        font-size: 1.1rem;
        color: var(--grey-100);
    }
        /* text placeholder */
        .SearchContainer > input::placeholder {
            font-weight: 300;
            color: var(--grey-100);
        }
    /* btn */
    .SearchContainer > button {
        display: flex;
        padding: 0.8em 1.4em 0.8em 0.8em;
        cursor: pointer;
    }
       /* btn */
       .SearchContainer > button:hover, .SearchContainer > button:active {
        background-color: var(--grey-25);
    }
.BannerImage {
    max-height: 50px;
    width: 100%;
}

/* Phones */
@media (max-width: 576px) { 
    .Mobile {
        display: flex;
    }
    .Desktop {
        display: none;
    }
    .ParentContainer {
        padding: 1em 0.6em 1em 0.6em; 
    }
}
/* Bigger devices */
@media (min-width: 576px) { 
    .Mobile {
        display: none;
    }
    .Desktop {
        display: flex;
    }
}

@media print {
    .MainContainer {
        display: none;
    }
}