.MainContainer {
    position: fixed;
    inset: 0 0 0 0;
    display: grid;
    place-items: start center;
    padding: 4em;
    background-color: rgb(0, 0, 0, 0.3);
    z-index: 1;
}
.ParentContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 1em var(--grey-100);
    background-color: white;
}
.TitleContainer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
    .TitleContainer > h1 {
        font-size: 1.8rem;
        font-weight: 700;
        color: var(--grey-100);
    }
    .TitleContainer > button {
        display: flex;
        justify-content: center;
        padding: 0.8em;
        border: 1px solid var(--grey-25);
        border-radius: 50%;
        background: none;
        cursor: pointer;
    }
        .TitleContainer > button:hover {
            background-color: rgb(248, 147, 147);
        }
.SettingsContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 1em;
}
    .Group {
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 1em 0.5em 1em 0.5em;
        border-top: 1px solid var(--grey-25);
        border-bottom: 1px solid var(--grey-25);
    }
    .SettingsContainer > div > button, .SettingsContainer > button {
        display: flex;
        justify-content: flex-start;
        padding: 0.8em;
        border: 1px solid var(--grey-25);
        border-radius: 10px;
        background: none;
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
    }
    .DeleteButton {
        color: rgb(174, 75, 75);
    }
        .DeleteButton:hover {
            background-color: rgba(248, 147, 147, 0.2);
        }
    .NormalButton {
        color: var(--grey-100);
    }
        .NormalButton:hover {
            background-color: var(--grey-25);
        }
/* Phones */
@media (max-width: 576px) {
    .MainContainer {
        padding: 0.5em;
    }
}