.ActionContainer {
    display: flex;
    margin-top: 0.5em;
}
.ActionItem {
    display: flex;
    align-items: center;
    padding: 0.4em 0.8em 0.4em 0.8em;
    background-color: var(--grey-colorli);
    border-radius: 10px;
    border: 3px solid var(--grey-colorli);
    cursor: pointer;
}
    .ActionItem:hover {
        border: 3px solid var(--green-color2);
    }
    .ActionItem > h1 {
        padding-right: 0.6em;
        font-size: 1rem;
        color: var(--green-colorbl);
    }