.ErrorParent {
  place-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 3em 2em;
  background-color: var(--color-1);
}
  .ErrorParent > h1 {
    font-weight: 600;
    font-size: 2.3rem;
    color: white;
  }
  .ErrorParent > h4 {
    font-weight: 300;
    color: white;
  }
  .ErrorParent > img {
    height: auto;
    max-width: 200px;
    width: 100%;
    aspect-ratio: 1/1.2;
    padding-bottom: 2em;
  }
  .ErrorParent > a {
    margin-top: 1em;
    background-color: white;
    padding: 0.5em 2em;
    font-weight: 400;
  }

/* Phones */
@media (max-width: 576px) {
}