.MainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    padding-bottom: 4em;
    background-color: white;
}
    /* Hide scrollbar for Chrome, Safari and Opera */
    .MainContainer::-webkit-scrollbar {
        display: none;
    }
.RecipeView {
    width: clamp(100px, 100%, 1000px);
    margin-top: 2em;
    padding: 3em;
    padding-top: 0;
    box-shadow: 0 0.1em 0.5em var(--grey-50);
    border-radius: 10px;
}
.RecipeMissingView {
    width: clamp(100px, 100%, 1000px);
    box-shadow: 0 0.1em 0.8em var(--grey-75);
    border-radius: 10px;
}

@media print {
    .HidePrint {
        display: none;
    }
}

/* Phones */
@media (max-width: 576px) { 
    .MainContainer {
        padding: 0;
        padding-bottom: 4em;
    }
    .RecipeView {
        margin: 0.5em;
        padding: 0;
        box-shadow: none;
        border-radius: 10px;
        overflow-y: scroll;
    }
    .RecipeMissingView {
        box-shadow: none;
    }
    .SelectorContainer {
        margin-bottom: 1em;
    }
}