.SelectorContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5em;
    padding: 2em 3em 2em 3em;
}
    /* back arrow */
    .SelectorContainer > a:first-child {
        margin-right: auto;
    }
.RecipeDataParent {
    padding: 3em;
    padding-top: 0;
}
.TitleContainer {
    display: flex;
    padding-bottom: 1em;
}
    .TitleContainer > img {
        max-width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 20px;
    }
    /* Name container */
    .RecipeNameContainer {
        display: flex;
        flex-direction: column;
        padding: 0 1em 1em 1em;
        overflow: hidden;
    }
        /* Recipe Name */
        .RecipeNameContainer > h1 {
            color: var(--colorli-1);
            font-size: 1.8rem;
            font-weight: 900;
            letter-spacing: 1px;
            padding-bottom: 0.4em;
            overflow-wrap: break-word;
        }
        /* Recipe Creator */
        .RecipeNameContainer > h2 {
            color: var(--colorli-1);
            font-size: 1rem;
            font-weight: 300;
            letter-spacing: 1px;
            padding-bottom: 0.2em;
            overflow-wrap: break-word;
        }
        /* link */
        .RecipeNameContainer > a {
            color: var(--colorli-1);
            font-size: 1rem;
            font-weight: 300;
            letter-spacing: 1px;
            overflow-wrap: break-word;
        }
        /* Recipe Edited */
        .RecipeNameContainer > h3 {
            margin-top: auto;
            color: var(--grey-100);
            font-size: 0.8rem;
            font-weight: 400;
            letter-spacing: 1px;
            overflow-wrap: break-word;
        }
.RecipeNutrition {
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 1em;
    background-color: var(--grey-25);
}
.RecipeNutritionItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 0.8em;
    text-align: center;
    overflow: hidden;
}
    /* Titles */
    .RecipeNutritionItem > h1{
        color: var(--colorli-5);
        font-size: 1rem;
        font-weight: 700;
    }
    /* Text */
    .RecipeNutritionItem > h2 {
        color: var(--grey-100);
        font-size: 1rem;
        font-weight: 400;
    }
.IngredientsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    padding: 2em 0 2em 0;
    width: fit-content;
    overflow: hidden;
}
    /* title */
    .IngredientsContainer > h1 {
        padding-bottom: 0.5em;
        color: var(--grey-100);
        font-size: 1.3rem;
        font-weight: 700;
    }
    /* items */
    .IngredientsContainer > h2 {
        padding-bottom: 0.5em;
        color: var(--grey-100);
        font-size: 1.1rem;
        font-weight: 300;
        border-bottom: 1px solid var(--grey-25);
    }
.StepsContainer {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    padding-bottom: 2em;
    overflow: hidden;
}
    /* title */
    .StepsContainer > h1 {
        padding-bottom: 1em;
        color: var(--grey-100);
        font-size: 1.3rem;
        font-weight: 700;
    }
.StepsItem {
    display: flex;
}
    /* steps */
    .StepsItem > h1 {
        padding-right: 4%;
        color: var(--colorli-2);
        font-size: 1.5rem;
        font-weight: 900;
    }
    /* item */
    .StepsItem > h2 {
        padding-bottom: 1em;
        padding-left: 0.8em;
        border-left: 2px solid var(--colorli-2);
        color: var(--green-colorbl);
        font-size: 1.1rem;
        font-weight: 300;
    }

    /* Phones */
@media (max-width: 576px) { 
    .SelectorContainer {
        padding: 1em;
    }
    .RecipeDataParent {
        padding: 1em;
    }
    /* target recipe image size */
    .TitleContainer > img {
        width: 100px;
        height: 100px;
    }
    /* Recipe Name */
    .RecipeNameContainer > h1 {
        font-size: 1.4rem;
    }
    /* nutrition */
    .RecipeNutrition {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1em;
        background-color: var(--green-colorgrli);
    }
    /* nutrition items */
    .RecipeNutritionItem {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0.5em;
        gap: 0.5em;
        background-color: var(--green-colorgrli);
    }
    /* ingredients */
    /* title */
    .IngredientsContainer > h1 {
        color: var(--green-colorbl);
        font-size: 1.2rem;
        font-weight: 700;
    }
    /* items */
    .IngredientsContainer > h2 {
        color: var(--green-colorbl);
        font-size: 1rem;
        font-weight: 400;
    }
    /* steps */
    /* title */
    .StepsContainer > h1 {
        color: var(--green-colorbl);
        font-size: 1.2rem;
        font-weight: 700;
    }
    /* steps */
    .StepsItem > h1 {
        padding-right: 4%;
        color: var(--green-color2);
        font-size: 1.2rem;
        font-weight: 900;
    }
    /* item */
    .StepsItem > h2 {
        padding-left: 0.8em;
        border-left: 2px solid var(--green-color3);
        color: var(--green-colorbl);
        font-size: 1rem;
        font-weight: 400;
    }
}